@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@500;700&family=Open+Sans:wght@400;700&family=Oswald:wght@500&family=Roboto:wght@400;500&display=swap");

.weather-app {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.search-form {
  margin-bottom: 20px;
}

.search-bar {
  padding: 10px;

  margin-right: 10px;
  color: white;
}

.search-button {
  padding: 10px;
  width: 20%;
  cursor: pointer;
}

.current-weather {
  margin: 20px 0;
  color: white;
}

.weather-city {
  font-family: "Montserrat", sans-serif;
}

.weather-temp {
  font-family: "Open Sans", sans-serif;
  font-size: 100px;
}

.weather-description {
  font-family: "Lato", sans-serif;
}

.weather-details {
  font-family: "Open Sans", sans-serif;
}

.imperial {
  font-size: 44px;
  display: inline;
  vertical-align: super;
}

.weekly-forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.forecast-item {
  flex-basis: calc(100% / 5 - 20px);
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
  color: black;
  text-align: center;
}

@media (max-width: 600px) {
  .forecast-item {
    flex-basis: 100%;
  }

  .weekly-forecast {
    flex-direction: column;
    align-items: center;
  }

  .search-bar,
  .search-button {
    width: 100%;
    margin-bottom: 10px; /* Adjusted for both elements */
  }
}
