.search-input {
  background-color: lightgray;
  color: darkgray;
  border-radius: 15px;
  padding: 10px;
  margin-right: 10px;
}

.search-button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
}

.search-button:hover {
  background-color: darkblue;
}
